

.clearfix:after {
    content: ".";display: block;clear: both;height: 0;
    overflow: hidden;visibility: hidden;
}
.g-hd .tip {
	background-color: #F3F3F3;
	height: 36px;
	width:100%;
}

.g-hd .tip .container {
    width: 1205px;
    margin: 0 auto;
}

.g-hd .tip p {
	display: inline-block;
    font: 12px/36px "微软雅黑";
}

.g-hd .tip .tip-text a {
    color:#21A557
}
.g-hd .tip .tip-close{
    float: right;
    background: url("../images/xx.png") no-repeat left;
    padding-left: 15px;
	cursor: pointer;
}


.g-hd .f-nav {
    width: 1200px;
    margin: 0 auto;
	padding:32px 0 36px 0;
}

.g-hd .f-nav .f-log {
    display: inline-block;
}

.g-hd .f-nav .f-log h2{  
 	padding-left: 80px;
    width: 160px;
 	height: 24px;
 	background:url(../images/logo.png)  no-repeat left center;
 	font-size: 20px;
} 

.g-hd .f-nav .f-btn{ 
    display: inline-block;
    font-size: 0;
}

 .g-hd .f-nav .f-btn .focus-btn{
    color: white;
    background: #21A557;
    border: 0;
    height: 22px;
    width: 50px;
    border-radius: 3px;
    font-size:12px;
} 
.g-hd .f-nav .f-btn .focus-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.g-hd .f-nav .f-btn .nofocus-btn{
    font-size: 12px;
    line-height: 14px;    
    color: black;
    width: 60px;
    background:#f8f8f8;
    border: 1px solid #CECECE;
    padding: 3px;
    cursor:default;
}
.g-hd .f-nav .f-btn .cancel{
    font-size: 12px;
    width: 20px;
    color: #CECECE;
    background: #f8f8f8;
    border: 1px solid #CECECE;
    border-left-style: none;
    padding: 3px;
}
.g-hd .f-nav .f-btn .cancel:hover{
    text-decoration: underline;
    color: #21A557;
}

.g-hd .f-nav .f-btn span {
    padding-left:10px;
    font-size:12px;
}

.g-hd .f-nav .f-bav {
    float: right;
}

.g-hd .f-nav .f-bav  a{
    font-size:16px;
    line-height: 32px;
    margin-right: 60px;
} 

.g-hd .f-nav .f-bav  a:hover{
    color: #21A557;
}  
.g-hd .f-nav .f-bav .search{
    float: right;
    width: 18px;
    height: 18px;
    margin-top:5px;
    margin-right: 0px;
    background-image: url(../images/search.png);
}

.modal{
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.8);
    z-index: 1000;
}
.modal .modal_wrap {
    position: absolute;
    width: 390px;
    height: 290px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #eee;  
    box-shadow: 3px 3px 5px #888;
    background-color:#fff;
}
.modal .modal_wrap .close{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left:365px;
    background: url("../images/X.png") no-repeat right;
    cursor: pointer;
}
.modal .modal_wrap span {
    display: block;
    margin:0 0 20px 40px;
    font-size:20px;
    font-weight: bold; 
}
.modal .modal_wrap .modal_body input{
    display: block;
    width: 290px;
    height: 45px;
    margin-left: 40px;
    background: #fafafa; 
    border: 1px solid #dfdfdf;
    box-shadow:inset 1px 1px 2px 1px #f1f1f1;
    font-size: 18px;
}
.modal .modal_wrap .modal_body .password{
    margin:30px 0 30px 40px;
}
.modal .modal_wrap .modal_foot .confirm{
    width: 295px;
    height: 45px;
    font:16px/45px '微软雅黑';
    margin-left: 40px;
    color: #fff;
    background: url(../images/login.png) no-repeat;
    text-align: center;
    cursor: pointer;
}

.g-bd .slider {
    position: relative;
    text-align: center;
}
.g-bd .slider ul {
    position: absolute;
    top: 90%;
    left:50%;
    height: 50px;
}
.g-bd .slider .s-control{
    float: left;
    margin:5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
}

.g-bd .slider .fadein{
    opacity: 1;
    transition: 0.5s linear;
}
.g-bd .slider .fadeout{
    opacity:0;
    transition:""
}
.g-bd .container{
    width: 1205px;
    margin: 0 auto;
}

.g-bd .container .wrap{
    position: relative;
    float: left;
    width: 350px;
    height: 180px;
    margin-right: 50px;
    padding: 66px 0 66px 0;
    
}
.g-bd .container .icon{
    position:absolute;
    top: 66px;
    left:0;
    height: 80px;
    width: 80px; 
}

.g-bd .container .icon-1{
    background: url(../images/mooc.png);
}
.g-bd .container .icon-2{
    background: url(../images/classroom.png);
}
.g-bd .container .icon-3{
    background: url(../images/open.png);
}
.g-bd .container .item {
    width: 240px;
    padding-left:100px;
}
.g-bd .container h3{
    font-size: 22px;
}
.g-bd .container p{
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0 20px 0;
}
.g-bd .container a{
    color: #21A557;
    font-size: 14px;
}
.g-bd .container a:hover{
    text-decoration: underline;
}

.g-bd .c-wrap {
    width: 100%;
    height:100%;
    background-color:#F8F8F8;
}

.g-bd .picture{
    width: 1615px;
    margin:0 auto;
    
}
.g-bd .content{
    width: 1220px;
    height: 1550px;
    margin: 0 auto;
    padding-top:80px;
}
.g-bd .content .left {
    display: inline-block;
    height: 1250px;
    width: 980px;
}
.g-bd .content .left .tab{
    font-size: 0;
    margin-left: 10px;
}
.g-bd .content .tab .btn{
    display: inline-block;
    height: 50px;
    width: 200px;
    text-align:center;
    font: 18px/50px "微软雅黑";
    background-color: #fff;
    cursor: pointer;
    border: 0;
}
.g-bd .content .tab .active {
    color: #fff;
    background-color: #39A030;
}
.g-bd .content .left .ctn {
    width: 100%;
    height: 100%;
    margin-top:20px;
}
.g-bd .content .ctn .item{
    position: relative;
    float: left;
    width: 225px;
    height: 225px;
    margin:10px; 
    background:#fff; 
    box-shadow:0 2px 2px 2px #e6e6e6;
}
.g-bd .content .ctn img {
    width: 225px;
    margin: 1px;
}
 .g-bd .content .ctn p{
    margin:6px 0 0 5px;
}
.g-bd .content  .ctn .i-name {
    font: bold 12px/16px "微软雅黑";
    margin-top:0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
} 
.g-bd .content .ctn .i-provider {
    font: 12px/16px "微软雅黑";
    color: #999999;
}
.g-bd .content .ctn .i-count {
    display: inline-block;
    background: url(../images/person.png) no-repeat left center;
    padding:3px 2px 2px 14px;
    color: #8e938d;
    border: 0.5px solid #dae0d9;
    border-radius: 2px;
}
.g-bd .content .ctn .i-price{
    font:bold 12px/12px "微软雅黑";
    color:#ff3f00;
}
.g-bd .content .ctn .item a {
    display: none;
}
.g-bd .content .ctn .item:hover a {
    display: block;
    position: absolute;
    top: -10px;
    left:-10px;
    width: 460px;
    background-color: #fff;
    padding: 10px;
    min-height: 225px;
    box-shadow:0 2px 2px 2px #e6e6e6;
    z-index: 999;
}

.g-bd .content .ctn a img{
    float: left;
    margin-right: 15px;
}
.g-bd .content .ctn a p {
    margin:0;
}
.g-bd .content .ctn a .name {
    font: bold 18px/24px "微软雅黑";
}
.g-bd .content  .ctn a .count {
    display: inline-block;
    background: url(../images/person.png) no-repeat left center;
    padding:1px 2px 2px 14px;
    margin: 12px 0;
}
.g-bd .content .ctn a .provider {
    margin-bottom: 6px;
}
.g-bd .content .ctn a .description{
    clear: both;
    font: 14px/24px "微软雅黑";
    padding: 20px 0 0 20px;
}
.g-bd .content .pages{
    float: right;
}
.g-bd .content .pages .p-left{
    width: 30px;
    height: 20px;
    background: #9DD8B1 url("../images/left.png") no-repeat center;
}
.g-bd .content .pages .p-right{
    width: 30px;
    height: 20px;
    background: #9DD8B1 url("../images/right.png") no-repeat center;
}
.g-bd .content .pages li{
    float: left;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
    font:14px/20px "微软雅黑";
    cursor: pointer;
}
.g-bd .content .pages .p-active{
    color: #20A255;
}
.g-bd .content .pages li:hover{
    background: #9DD8B1;
    color: #fff;
}

.g-bd .content .right>div{
    box-shadow:0 1px 1px 1px #e6e6e6;
}

.g-bd .content .right {
    float: right;
}
.g-bd .content .right h2{
    width: 215px;
    height: 55px;
    background:#fff;
    font:16px/55px "微软雅黑";
    padding-left: 10px;
    box-shadow:0 1px 1px 1px #e6e6e6;
}
.g-bd .content .video .v-cnt {
    width: 100%;
    height: 170px;
    margin-top:2px;
    background:#fff;

}
.g-bd .content .video .v-cnt p {
    padding:20px 0 0 20px;

}
.g-bd .content .video .v-cnt img {
   margin-right: 30px;
   cursor: pointer;
}

.g-bd .content .video .size {
    width: 955px;
    height: 680px;
    text-align: center;
}
.g-bd .content .video h2 {
    margin-top: 20px;
    font-size: 20px;
    box-shadow:0 0 0 0;
}
.g-bd .content .video img{
    margin:5px 5px 0 0;
    float: right;
}

.g-bd .content .right .list {
    margin-top:15px;
    width: 225px;
    background-color: #fff;
}
.g-bd .content .right .list .l-cnt{
    position: relative;
    height: 720px;
    overflow: hidden;
}
.g-bd .content .right .list .l-wrap{
    position: absolute;
    height: 720px;
    width:225px;
    top:0px;
    transition:all 1s ease-out;
}
.g-bd .content .right .l-item{
    display:block; 
    height: 50px;
    margin:20px;
     
}
.g-bd .content .right .l-item img{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

.g-bd .content .right .l-item p{
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.g-bd .content .right .l-item .l-count {
    background: url(../images/person.png) no-repeat left center;
    margin-top: 10px;
    padding-left:15px;
    color: #8e938d;
}


.g-ft {
    width: 100%;
    height: 260px;
    background-color: #2C3339;
    color: #fff;
}
.g-ft .container{
    width: 1100px;
    margin:0 auto;
}
.g-ft .container .content{
    float: left;
    width: 370px;
    height: 90px;
    padding-top:90px;
    margin-right: 80px;

}
.g-ft .container .content h2{
    color: #39a030;
    background:url(../images/logo.png)  no-repeat left center;
    height: 26px;
    font: 20px "Microsoft YaHei";
    padding-left:80px;
    margin-bottom: 20px;
}
.g-ft .container .content p{
    font: 12px/24px "Microsoft YaHei";
}
.g-ft .container .f-icon {
    width: 55px;
    height: 40px;
    background: url("../images/weibo.png") no-repeat right top;
}
.g-ft .container .link {
    float: left;
    padding-top:90px; 
}
.g-ft .container .link .link-team{
    float: left;
    padding-left:100px;
    position: relative;
}
.g-ft .container .link p{
    line-height: 24px;
}
.g-ft .container .link a{
    display: block;
    color: #fff;
    font: 14px/24px "Microsoft YaHei";
}
.g-ft .container .link a:hover{
    text-decoration: underline;
}