/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
g-hd,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14  "Arial","Hiragino Sans GB","Microsoft YaHei", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;} */
@media screen and(min-width:1205) {
}

.clearfix:after {
    content: ".";display: block;clear: both;height: 0;
    overflow: hidden;visibility: hidden;
}
.g-hd .tip {
	background-color: #F3F3F3;
	height: 36px;
	width:100%;
}

.g-hd .tip .container {
    width: 1205px;
    margin: 0 auto;
}

.g-hd .tip p {
	display: inline-block;
    font: 12px/36px sans-serif;
}

.g-hd .tip .tip-text a {
    color:#21A557
}
.g-hd .tip .tip-close{
    float: right;
	cursor: pointer;
}


.g-hd .f-nav {
    width: 1200px;
    margin: 0 auto;
	padding:32px 0 36px 0;
}

.g-hd .f-nav .f-log {
    display: inline-block;
}

.g-hd .f-nav .f-log h2{  
 	padding-left: 80px;
    width: 160px;
 	height: 24px;
 	background:url(images/logo.png)  no-repeat left center;
 	font-size: 20px;
} 

.g-hd .f-nav .f-btn{ 
    display: inline-block;
}

 .g-hd .f-nav .f-btn .focus-btn{
    color: white;
    background: #21A557;
    border: 0;
    height: 22px;
    width: 50px;
    border-radius: 3px;
    font-size:12px;
} 
.g-hd .f-nav .f-btn .focus-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.g-hd .f-nav .f-btn .nofocus-btn{
    color: black;
    background:#fff;
    border: 1px solid #CECECE;
    padding: 3.5px;
    width: 50px;
}
.g-hd .f-nav .f-btn .cancel{
    height: 22px;
    width: 10px;
    border: 1px solid #CECECE;
    padding: 3.5px;
    color: #CECECE;
}
.g-hd .f-nav .f-btn .cancel:hover{
    text-decoration: underline;
    color: #21A557;
}

.g-hd .f-nav .f-btn span {
    padding-left:10px;
    font-size:12px;
}

.g-hd .f-nav .f-bav {
    float: right;
}

.g-hd .f-nav .f-bav  a{
    font-size:16px;
    line-height: 32px;
    margin-right: 60px;
} 

.g-hd .f-nav .f-bav  a:hover{
    color: #21A557;
}  
.g-hd .f-nav .f-bav .search{
    float: right;
    width: 18px;
    height: 18px;
    margin-top:5px;
    margin-right: 0px;
    background-image: url(images/search.png);
}

.modal{
    position:fixed;
    height:100%;
    width:100%;
    left:0;
    top:0;
    background:rgba(0,0,0,0.8);
    z-index: 1000;
}
.modal .modal_wrap {
    position: absolute;
    width: 390px;
    height: 290px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #eee;  
    box-shadow: 3px 3px 5px #888;
    background-color:#fff;
}
.modal .modal_wrap .close{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left:365px;
    background: url("images/X.png") no-repeat right;
    cursor: pointer;
}
.modal .modal_wrap span {
    display: block;
    margin:0 0 20px 40px;
    font-size:20px;
    font-weight: bold; 
}
.modal .modal_wrap .modal_body input{
    display: block;
    width: 290px;
    height: 45px;
    margin-left: 40px;
    background: #fafafa; 
    border: 1px solid #dfdfdf;
    box-shadow:inset 1px 1px 2px 1px #f1f1f1;
    font-size: 18px;
}
.modal .modal_wrap .modal_body .password{
    margin:30px 0 30px 40px;
}
.modal .modal_wrap .modal_foot .confirm{
    width: 295px;
    height: 45px;
    font:16px/45px '微软雅黑';
    margin-left: 40px;
    color: #fff;
    background: url(images/login.png) no-repeat;
    text-align: center;
    cursor: pointer;
}

.g-bd .banner {
    text-align: center;
}

.g-bd .container{
    width: 1205px;
    margin: 0 auto;
}

.g-bd .container .wrap{
    position: relative;
    float: left;
    width: 350px;
    height: 180px;
    margin-right: 50px;
    padding: 66px 0 66px 0;
    
}
.g-bd .container .icon{
    position:absolute;
    top: 66px;
    left:0;
    height: 80px;
    width: 80px; 
}

.g-bd .container .icon-1{
    background: url(images/mooc.png);
}
.g-bd .container .icon-2{
    background: url(images/classroom.png);
}
.g-bd .container .icon-3{
    background: url(images/open.png);
}
.g-bd .container .item {
    width: 240px;
    padding-left:100px;
}
.g-bd .container h3{
    font-size: 22px;
}
.g-bd .container p{
    font-size: 14px;
    line-height: 24px;
    padding: 10px 0 20px 0;
}
.g-bd .container a{
    color: #21A557;
    font-size: 14px;
}
.g-bd .container a:hover{
    text-decoration: underline;
}
.g-bd .picture{
    width: 1615px;
    margin:0 auto;
}
.g-bd .content{
    width: 1205px;
    height: 1550px;
    margin: 0 auto;
}
.g-ft {
    width: 100%;
    height: 260px;
    background-color: #2C3339;
    color: #fff;
}
.g-ft .container{
    width: 1100px;
    margin:0 auto;
}
.g-ft .container .content{
    display: inline-block;
    width: 270px;
    height: 90px;
    padding:90px 0 80px 0;

}
.g-ft .container .content h2{
    color: #39a030;
    background:url(images/logo.png)  no-repeat left center;
    height: 26px;
    font: 20px "Microsoft YaHei";
    padding-left:80px;
    margin-bottom: 20px;
}
.g-ft .container .content p{
    font: 12px/24px "Microsoft YaHei";
}

.g-ft .container .link {
     float: right;
    padding: 80px 0 80px 0; 
}
.g-ft .container .link .link-team{
    float: left;
    height: 105px;
    width: 115px;
    margin-left: 50px;
}
.g-ft .container .link p{
    line-height: 24px;
}
.g-ft .container .link a{
    display: block;
    color: #fff;
    font: 14px/24px "Microsoft YaHei";
}
.g-ft .container .link a:hover{
    text-decoration: underline;
}